In [1]:
import pandas as pd 
import numpy as np
df=pd.read_excel("E:/OneDrive - Quadratic Insights Pvt Ltd/Desktop/Rule_Engine_data.xlsx")
df

      Patient_ID Service_Date_From Service_Date_To Procedure_Code Primary_Diagnosis_Code Appointment_Date
0         144681        2016-10-07      2016-10-07          3046F             E11.65           2016-10-07
1         145548        2016-10-15      2016-10-15          3046F             E11.65           2016-10-15
2          76204        2016-11-03      2016-11-03          2028F             E11.9            2016-11-03
3         133323        2016-11-02      2016-11-02          2028F             E11.9            2016-11-02
4         131298        2016-11-28      2016-11-28          2028F             E11.65           2016-11-28
...          ...               ...             ...            ...                    ...              ...
4771       80891        2022-04-14      2022-04-14          2028F             E11.65           2022-04-14
4772      166226        2022-04-15      2022-04-15          92250             E11.42           2022-04-15
4773      151065        2022-04-15      2022-04-15          92250             E11.65           2022-04-15
4774      195127        2022-04-15      2022-04-15          92250             E11.9            2022-04-15
4775      196319        2022-04-16      2022-04-16          92250             E11.65           2022-04-16

[4776 rows x 6 columns]

In [ ]:
def preprocessing_derived_data(self, actual_data , Latest_App_date):
        try:
            import datetime
            from datetime import datetime, time, date
            format = '%Y-%m-%d'
            datetime = datetime.strptime(Latest_App_date, format)
            # new_date=(datetime.date())
            actual_data["new_date"] = datetime  
            # new_date=(datetime.date())

            print(datetime)
            actual_data = actual_data.rename(columns={"Appointment_DateTime": "Appointment_Date"})
            actual_data["Service_Date_max"] = actual_data.groupby("Patient_ID")["Service_Date_From"].transform(max)

            actual_data["last_visit_day"] = (actual_data["new_date"] - actual_data["Service_Date_max"])
            actual_data["last_visit_day"] = actual_data["last_visit_day"].apply(lambda x: int(str(x).split(" ")[0]))
            actual_data["Patient_Practice"] = actual_data.loc[:, "last_visit_day"].apply(lambda x: "Adhoc" if x >= 90 else "Regular")

            actual_data["Appointment_Date"] = pd.to_datetime(actual_data["Appointment_Date"])
            actual_data["Diff_in_days"] = (actual_data["new_date"] - actual_data["Service_Date_From"])
            actual_data["Diff_in_days"] = actual_data["Diff_in_days"].apply(lambda x: int(str(x).split(" ")[0]))
            print("patient_df1:",actual_data)
        except Exception as e:
           print("An exception occurred", str(e))

        return actual_data